#listPromocion{
   color: #fff;
   background-color: #586e84;
}

#listPromocion.list-group-item-action:focus, #listPromocion.list-group-item-action:hover {
    color: #fff;
    background-color: #404f5f;
}
#almacenero{
    display: block;
}