.btn#login
{
  background:white;
  color:#0bad65 ;
}

.btn:hover#login{
    background: #efecec;
    color:#0bad65 ;
}

@media screen and (max-width: 768px){
.btn#login
  {
    font-size: 0.8rem;
  }
    
}